#adminpanel {
    position: relative;
    margin: 0px auto;
    width: 1200px !important;
}

#adminpanel table {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    width: 900px;
}

#adminpanel table td {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

#adminpanel p {
    margin-top: 5px;
    text-align: center;
}

#adminpanel span a{
    float: right;
    margin-left: 50px;
    color: #fff;
}

#adminpanel .block {
    margin-bottom: 5px;
}

#adminpanel .block .block-bot {
    position: relative;
    height: 100%;
}

#adminpanel .block .head {
    background: url(images/block-head.gif);
    padding-left: 15px;
    border-radius: 6px;
}

#adminpanel .block .head-cnt {
    background: url(images/block-head.gif);
    line-height: 38px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
}

#adminpanel .block .head-cnt a {
    color: #fff;
}

#adminpanel .leftbox {
    position: relative;
    width: 230px !important;
    display: block;
    float: left;
}

#adminpanel .adminmenu {
    position: relative;
    display: block;
    background: #353535;
    border-radius: 6px;
}

#adminpanel .adminmenu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

#adminpanel .adminmenu li {
    list-style-type: none;
    display: block;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: .2em;
    padding: 0px 0px 3px 0px;
}

#adminpanel .globalpanel {
    position: relative;
    display: block;
    float: left;
    margin-left: 10px;
}

#adminpanel .globalpanel .contentbox {
    position: relative;
    background: #363636;
    width: 933px;
    display: inline-block;
    border-radius: 6px;   
}

#adminpanel .globalpanel .contentbox td {
    padding: 2px 0px;
    text-align: center;
}

#adminpanel .globalpanel .contentbox .submit {
    border-radius: 6px;
    width: 120px;
}

#adminpanel .globalpanel .pagination {
    position: relative;
    margin-top: 5px;
    text-align: center;
    line-height: 30px;
    background: #353535;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 15px;
}

#adminpanel .globalpanel span {
    float: right;
    margin-right: 20px;
    font-size: 12px;
}

#adminpanel .globalpanel span a {
    font-size: 12px;
}

#adminpanel .globalpanel .rightbox {
    position: relative;
    background: #363636;
    width: 260px;
    display: block;
    float: right;
    border-radius: 6px;
}
