body {
    background: url(images/bg.gif);
    color: #fff;
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    margin: 0px auto !important;
    width: 1200px !important;
    border-radius: 6px !important;
}

#header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
}

#sort-nav {
    position: relative;
    background: url(images/sort-nav-bg.gif);
    background-repeat: repeat-x;
    line-height: 46px;
    font-weight: bold;
}

#sort-nav .bg-left {
    position: relative;
    background: url(images/sort-nav-bg-left.gif);
    background-repeat: no-repeat;
    line-height: 46px;
}

#sort-nav .bg-right {
    position: relative;
    background: url(images/sort-nav-bg-right.gif);
    background-repeat: no-repeat;
    background-position: right;
}

#sort-nav ul li {
    list-style-type: none;
    display: inline;
}

#sort-nav ul li a {
    color: #282828;
    text-decoration: none;
    padding: 10px;
    display: inline;
}

#sort-nav ul li span {
    display: inline;
    background: url(images/sort-nav-sep.gif);
    text-indent: -4000px;
}

#content {
    position: relative;
    margin-top: 3px !important;
    background: #000;
    padding: 10px 13px;
    display: block;
    border-radius: 6px;
}

#footer {
    position: relative;
    margin-top: 10px;
}

#footer .copy {
    font-size: 10px;
    color: #363636;
    text-transform: uppercase;
    text-align: right;
    padding: 10px 0px;
}

#footer .navs {
    background: #363636;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 6px;
}

#footer .navs .navs-bot {
    position: relative;
    padding: 5px 0px;
}

#footer .navs ul li {
    list-style-type: none;
    display: inline;
    padding: 5px 6px;
}

#footer li a {
    color: #656565;
    text-decoration: none;
    line-height: 20px;
} 


#mainpanel {
    position: relative;
    margin: 0px auto;
    width: 1170px;
}

#mainpanel p {
    padding: 5px;
    text-align: center;
}

#mainpanel span {
    float: right;
    margin-right: 20px;
}

#mainpanel .block {
    margin-bottom: 5px;
}

#mainpanel .block .block-bot {
    position: relative;
    height: 100%;
}

#mainpanel .block .head {
    background: url(images/block-head.gif);
    padding-left: 15px;
    border-radius: 6px;
}

#mainpanel .block .head-cnt {
    background: url(images/block-head.gif);
    line-height: 38px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
}

#mainpanel .block .head-cnt a {
    color: #fff;
}

#mainpanel .rightbox {
    position: relative;
    width: 310px !important;
    display: block;
    float: right;
}

#mainpanel .contentbox {
    position: relative;
    width: 850px !important;
    display: inline-block;
}

#mainpanel .contentbox  .pagination {
    position: relative;
    text-align: center;
    line-height: 30px;
    background: #353535;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 15px;
}

#mainpanel .discord {
    position: relative;
    display: block;
    background: #353535;
    border-radius: 6px;
}

#mainpanel .discord span {
    font-size: 12px;
}

#mainpanel .articlepost {
    position: relative;
    display: inline-block;
}

#mainpanel .viewbox {
    position: relative;
    margin: 0px auto;
    width: 850px !important;
}

#mainpanel .articlebox {
    position: relative;
    width: 850px;
    background: #353535;
    border-radius: 6px;
}

#mainpanel .articlebox .message {
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

#mainpanel .articlebox .details {
    position: relative;
    font-size: 14px;
    margin-right: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}

