#newsform {
    position: relative;
    margin: 0px auto;
    width: 800px;
}

#newsform .formbody {
    position: relative;
    margin: 0px auto;
    width: 520px;
    display: block;
}

#newsform input,
#newsform select {
    padding: 3px;
    width: 200px;
    border-radius: 10px;
}

#newsform .message_buttons input{
	width: auto;
	padding: 2px 10px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: .2em;
}

#newsform textarea {
    padding: 5px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
}

#newsform .errors {
    margin-top: 2px;
    margin-left: 5px !important;
    font-size: 12px;
    color: #ff0000;
}


#newsform label {
    font-size: 14px !important;
    display: block;
    margin: 10px 10px 5px 0px;
}

#newsform .submit {
    margin: 10px auto;
    display: block;
}
