/* Global Stylesheet */
* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

a,
a:active {
    text-decoration: none;
    color: #a8a8a8;
}

.clear {
    clear: both;
    display: block;
}

.error {
    position: relative;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
    color: #ff0000;
}

.success {
    position: relative;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
    color: #008000;
}
