/* Colors and Backgrounds for common.css
----------------------------------------- */
body {
    background-image: url('images/bg.gif');
    color: #fff;
}

a,
a:active {
    color: #a8a8a8;
}

.error {
    color: #ff0000;
}

.success {
    color: #008000;
}

strong {
    color: #ff0000;
}

#header {
    color: #fff;
}

/* Main Navigation
------------------- */
#main-nav {
    background-image: url('images/main-nav-bg.gif');
    background-repeat: repeat-x;
    background-position: right;
}

#main-nav .bg-left {
    background-image: url('images/main-nav-bg-left.gif');
    background-repeat: no-repeat;
}

#main-nav .bg-right {
    background-image: url('images/main-nav-bg-right.gif');
    background-repeat: no-repeat;
    background-position: right;
}

#main-nav li {
    background-image: url('images/main-nav-sep.gif');
    background-repeat: no-repeat;
    background-position-x: right;
}

#main-nav a {
    color: #a8a8a8;
}

/* Sort Navigation
------------------- */
#sort-nav {
    background-image: url('images/sort-nav-bg.gif');
    background-repeat: repeat-x;
}

#sort-nav .bg-left {
    background-image: url('images/sort-nav-bg-left.gif');
    background-repeat: no-repeat;
}

#sort-nav .bg-right {
    background-image: url('images/sort-nav-bg-right.gif');
    background-repeat: no-repeat;
    background-position: right;
}

#sort-nav .bg-left .dropdownbtn {
    background: none;
}

#sort-nav .bg-left .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#sort-nav .bg-left .dropdown-content a {
    color: #282828;
}

#sort-nav .bg-left .dropdown-content a:hover,
#sort-nav .bg-left .dropdown-content a:focus {
    background-color: #aed6f1;
}

#sort-nav ul li a {
    color: #282828;
}

#sort-nav ul li span {
    background-image: url('images/sort-nav-sep.gif');
}

/* Content Style
----------------- */
#content {
    background-color: #000;
}

/* Main Panel Style
-------------------- */
#mainpanel .block .head {
    background-image: url('images/block-head.gif');
}

#mainpanel .block .head-cnt {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#mainpanel .block .head-cnt a {
    color: #fff;
}

#mainpanel .contentbox  .pagination {
    background-color: #353535;
}

#mainpanel .calendar {
    background-color: #353535;
}

#mainpanel .discord {
    background-color: #353535;
}

#mainpanel .articlebox {
    background-color: #353535;
}

/* Application Style
--------------------------- */
#application {
    background-color: #353535;
}

#application .errors {
    color: #ff0000;
}

#application .block .head {
    background-image: url('images/block-head.gif');
}

#application .block .head-cnt {
    background-image: url('images/block-head.gif');
}

#applicationn .block .head-cnt a {
    color: #fff;
}

/* Login Style
--------------- */
#login {
    background-color: #353535;
}

#login .errors {
    color: #ff0000;
}

#login .block .head {
    background-image: url('images/block-head.gif');
}

#login .block .head-cnt {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#login .block .head-cnt a {
    color: #fff;
}

/* Member Panel Style
---------------------- */
#memberpanel .block .head {
    background-image: url('images/block-head.gif');
}

#memberpanel .block .head-cnt {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#memberpanel .block .head-cnt a {
    color: #fff;
}

#memberpanel .contentbox .memberbox {
    background-color: #353535;
}

#memberpanel .contentbox .pagination {
    background-color: #353535;
}

#memberpanel .statistics {
    background-color: #353535;
}

/* User Panel Style
-------------------- */
#userpanel .errors {
    color: #ff0000;
}

#userpanel .block .head {
    background-image: url('images/block-head.gif');
}

#userpanel .block .head-cnt {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#userpanel .block .head-cnt a {
    color: #fff;
}

#userpanel .usermenu {
    background-color: #363636;
}

#userpanel .contentbox .mainpanel {
    background-color: #353535;
}

/* User Profile Style
-------------------- */
#userprofile .block .head {
    background-image: url('images/block-head.gif');
}

#userprofile .block .head-cnt {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#userprofile .block .head-cnt a {
    color: #fff;
}

#userprofile .leftbox .userdetails {
    background-color: #363636;
}

#userprofile .contentbox div.tab button {
    background-image: url('images/block-head.gif');
    color: #fff;
}

#userprofile .contentbox div.tab button.active {
    border-bottom-color: #ff0000;
}

#userprofile .contentbox .tabcontent {
    background-color: #363636;
}

/* Footer Style
---------------- */
#footer .copy {
    color: #363636;
}

#footer .navs {
    background-color: #363636;
    background-repeat: no-repeat;
}

#footer li a {
    color: #656565;
} 
