/* General Markup Styles
------------------------- */

* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

.clear {
    clear: both;
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    text-align: center;
}

a,
a:hover {
    text-decoration: none;
}

.error,
.success {
    position: relative;
    margin: 0px auto;
    margin-top: 5px;
    text-align: center;
}

#wrapper {
    position: relative;
    margin: 0px auto !important;
    width: 1200px !important;
}

#header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Main Navigation Style
------------------------- */
#main-nav {
    position: relative;
    line-height: 32px;
    display: block;
    float: right;
}

#main-nav .bg-left {
    padding-left: 32px;
    width: 876px;
}

#main-nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 32px;
}

#main-nav li {
    list-style-type: none;
    float: left;
    display: block;
}

#main-nav a {
    display: inline-block;
    padding: 0px 11px 0px 9px;
    text-decoration: none;
    font-size: 12px;
}

/* Sort Navigation Style
------------------------- */
#sort-nav {
    position: relative;
    line-height: 46px;
    font-weight: bold;
}

#sort-nav .bg-left {
    position: relative;
}

#sort-nav .bg-right {
    position: relative;
}

#sort-nav .bg-left .dropdownbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#sort-nav .bg-left .dropdown {
    position: relative;
    display: inline-block;
}

#sort-nav .bg-left .dropdown-content {
    position: absolute;
    display: none;
    min-width: 230px !important;
    z-index: 1;
}

#sort-nav .bg-left .dropdown-content a {
    position: relative;
    padding: 0px 26px;
    text-decoration: none;
    display: block;
}

#sort-nav .bg-left .show {
    display: block;
}

#sort-nav ul li {
    list-style-type: none;
    display: inline;
}

#sort-nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: inline;
}

#sort-nav ul li span {
    display: inline;
    text-indent: -4000px;
}

/* Content Style
----------------- */
#content {
    position: relative;
    margin-top: 3px !important;
    padding: 10px 13px;
    display: block;
    border-radius: 6px;
}

/* Main Panel Style
-------------------- */
#mainpanel {
    position: relative;
    margin: 0px auto;
    width: 1170px;
}

#mainpanel p {
    padding: 5px;
    text-align: center;
}

#mainpanel span {
    float: right;
    margin-right: 20px;
}

#mainpanel .block {
    margin-bottom: 5px;
}

#mainpanel .block .block-bot {
    position: relative;
    height: 100%;
}

#mainpanel .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#mainpanel .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#mainpanel .rightbox {
    position: relative;
    width: 310px !important;
    display: block;
    float: right;
}

#mainpanel .contentbox {
    position: relative;
    width: 850px !important;
    display: inline-block;
}

#mainpanel .contentbox  .pagination {
    position: relative;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 15px;
}

#mainpanel .calendar {
    position: relative;
    display: block;
    border-radius: 6px;
}

#mainpanel .calendar table {
    position: relative;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#mainpanel .calendar td {
    text-align: center;
    padding: 2px 7px;
}

#mainpanel .discord {
    position: relative;
    display: block;
    border-radius: 6px;
}

#mainpanel .discord span {
    font-size: 12px;
}

#mainpanel .articlepost {
    position: relative;
    display: inline-block;
}

#mainpanel .viewbox {
    position: relative;
    margin: 0px auto;
    width: 850px !important;
}

#mainpanel .articlebox {
    position: relative;
    width: 850px;
    border-radius: 6px;
}

#mainpanel .articlebox span {
    font-size: 12px;
}

#mainpanel .articlebox .message {
    position: relative;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

#mainpanel .articlebox .details {
    position: relative;
    font-size: 12px;
    margin-right: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Footer Style
---------------- */
#footer {
    position: relative;
    margin-top: 2px;
}

#footer .copy {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    padding: 10px 0px;
}

#footer .navs {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 6px;
}

#footer .navs .navs-bot {
    position: relative;
    padding: 5px 0px;
}

#footer .navs ul li {
    list-style-type: none;
    display: inline;
    padding: 5px 6px;
}

#footer li a {
    text-decoration: none;
    line-height: 20px;
}
