/* Application Style
--------------------- */
#application {
    position: relative;
    margin: 0px auto;
    width: 650px !important;
    border-radius: 6px;
}

#application textarea,
#application input {
    padding: 3px;
    width: 200px;
    border-radius: 6px;
}

#application select {
    width: 210px;
    border-radius: 6px;
    padding: 2.5px;
}

#application p {
    text-align: center;
}

#application .errors {
    margin-top: 2px;
    margin-left: 5px !important;
    font-size: 12px;
}

#application .info {
    display: block;
}

#application .block {
    margin-bottom: 5px;
}

#application .block .block-bot {
    position: relative;
    height: 100%;
}

#application .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#application .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#application label {
    font-size: 14px !important;
    display: block;
    margin: 10px 10px 5px 5px;
}

#application .left {
    position: relative;
    width: 240px !important;
    display: block;
    margin-left: 50px;
    float: left;
}

#application .right {
    position: relative;
    width: 240px !important;
    display: block;
    margin-right: 50px;
    float: right;
}

#application .bottom {
    position: relative;
    margin: 0px auto;
    width: 500px;
    margin-left: 50px;
}

#application .bottom small {
    margin-left: 206px;
}

#application .textarea {
    position: relative;
    width: 530px;
    height: 100px;
    border-radius: 6px;
}

#application .textarea_small {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 6px;
}

#application .submit {
    margin: 10px auto;
    display: block;
}

/* Login Style
--------------- */
#login {
    position: relative;
    margin: 0px auto;
    width: 320px !important;
    border-radius: 6px;
}

#login label {
    font-size: 14px !important;
    display: inline-block;
    margin: 10px 10px 5px 0px;
}

#login textarea,
#login input {
    padding: 3px;
    width: 200px;
    border-radius: 10px;
}

#login p {
    text-align: center;
}

#login .errors {
    margin-top: 2px;
    margin-left: 5px !important;
    font-size: 12px;
}

#login .block {
    margin-bottom: 5px;
}

#login .block .block-bot {
    position: relative;
    height: 100%;
}

#login .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#login .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#login .block .head-cnt a {
    color: #fff;
}

#login .body {
    position: relative;
    margin: 0px auto;
    width: 210px !important;
    display: block;
    margin-bottom: 10px;
}

#login .body .submit {
    margin: 0px auto;
    margin-top: 15px;
    display: block;
    position: relative;
}