/* Member Panel Style
---------------------- */
#memberpanel {
    position: relative;
    margin: 0px auto;
    width: 1175px;
}

#memberpanel span {
    float: right;
    margin-right: 20px;
}

#memberpanel p {
    padding: 5px;
    text-align: center;
}

#memberpanel .block {
    margin-bottom: 5px;
}

#memberpanel .block .block-bot {
    position: relative;
    height: 100%;
}

#memberpanel .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#memberpanel .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#memberpanel .contentbox {
    position: relative;
    margin: 0px auto;
    width: 1175px !important;
    display: inline-block;
}

#memberpanel .contentbox .memberlist {
    position: relative;
    display: inline-block;
}

#memberpanel .contentbox .memberbox {
    position: relative;
    margin: 0px auto;
    width: 1175px;
    border-radius: 6px;
}

#memberpanel .contentbox .memberbox .submit {
    border-radius: 6px;
    width: 100px;   
}

#memberpanel .contentbox .memberbox table {
    position: relative;
    margin: 0px auto;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    width: 1170px;
}

#memberpanel .contentbox .memberbox table td {
    text-align: center;
    font-size: 14px;
    padding: 3px;
    line-height: 20px;
}

#memberpanel .contentbox .pagination {
    position: relative;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 3px;
}

#memberpanel .statistics {
    position: relative;
    display: block;
    border-radius: 6px;
}

#memberpanel .statistics span {
    float: right;
    margin-right: 15px;
}

#memberpanel .statistics ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

#memberpanel .statistics li {
    list-style-type: none;
    display: block;
    margin-left: 12px;
    font-size: 15px;
    margin-bottom: .2em;
}

/* User Panel Style
-------------------- */
#userpanel {
    position: relative;
    margin: 0px auto;
} 

#userpanel p {
    text-align: center;
    margin-top: 5px;
}

#userpanel img {
    border-radius: 5px;
}

#userpanel .avatar {
    text-align: center;
    margin-top: 5px;
}

#userpanel .title {
    text-align: center;
    font-size: 14px;
}

#userpanel .errors {
    margin-top: 2px;
    margin-left: 5px !important;
    font-size: 12px;
}

#userpanel span {
    float: right;
    margin-right: 13px;
}

#userpanel small {
    margin-left: 35px;
}

#userpanel .block {
    margin-bottom: 5px;
}

#userpanel .block .block-bot {
    position: relative;
    height: 100%;
}

#userpanel .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#userpanel .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#userpanel .leftbox {
    position: relative;
    width: 230px !important;
    display: block;
    float: left;
}

#userpanel .usermenu {
    position: relative;
    display: block;
    border-radius: 6px;
}

#userpanel .usermenu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 5px;
}

#userpanel .usermenu li {
    list-style-type: none;
    display: block;
    margin-left: 25px;
    font-size: 14px;
    margin-bottom: .2em;
    padding: 0px 0px 3px 0px;
}

#userpanel .contentbox {
    position: relative;
    width: 933px !important;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

#userpanel .contentbox .mainpanel {
    position: relative;
    margin: 0px auto;
    width: 933px;
    display: inline-block;
    border-radius: 6px;
}

#userpanel .contentbox .mainpanel .body {
    position: relative;
    width: 213px !important;
    display: block;
    margin: 0px auto;
}

#userpanel .contentbox .mainpanel .edit_body {
    position: relative;
    width: 453px !important;
    display: block;
    margin: 10px auto;
}

#userpanel .contentbox .mainpanel .edit_body label {
    margin: 0px auto;
    font-size: 14px !important;
    display: block;
    padding: 0px 5px;
    margin: 10px 10px 5px 0px;
}

#userpanel .contentbox .mainpanel .edit_body select {
    width: 450px;
    border-radius: 6px;
    padding: 2.5px;
    margin-bottom: 5px;
}

#userpanel .contentbox .mainpanel .edit_body input{
    margin: 0px auto;
    padding: 3px;
    width: 200px;
    border-radius: 10px;
}

#userpanel .contentbox .mainpanel .avatar_height,
#userpanel .contentbox .mainpanel .avatar_width {
    position: relative;
    margin-left: 30px;
    width: 50px;
    text-align: center;
}

#userpanel .contentbox .mainpanel .signature_body {
    position: relative;
    width: 800px !important;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
}

#userpanel .contentbox .mainpanel .signature_body .message_buttons input{
	width: auto;
	padding: 0px 5px;
    margin-left: 2px;
    margin-bottom: .2em;
    border-radius: 0px;
}

#userpanel .contentbox .mainpanel .textarea {
    position: relative;
    padding: 5px;
    width: 800px !important;
    height: 150px;
    border-radius: 6px;
}

#userpanel .contentbox .mainpanel label {
    margin: 0px auto;
    font-size: 14px !important;
    display: block;
    padding: 0px 5px;
    margin: 10px 10px 5px 0px;
}

#userpanel .contentbox .mainpanel input{
    margin: 0px auto;
    padding: 3px;
    width: 200px;
    border-radius: 10px;
}

#userpanel .contentbox .mainpanel .submit {
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    position: relative;
}

/* User Profile Style
--------------------- */
#userprofile {
    position: relative;
    margin: 0px auto;
    width: 1170px !important;
} 

#userprofile p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#userprofile img {
    border-radius: 5px;
}

#userprofile .avatar {
    text-align: center;
    margin-top: 5px;
}

#userprofile .title {
    text-align: center;
    font-size: 14px;
}

#userprofile .block {
    margin-bottom: 5px;
}

#userprofile .block .block-bot {
    position: relative;
    height: 100%;
}

#userprofile .block .head {
    padding-left: 15px;
    border-radius: 6px;
}

#userprofile .block .head-cnt {
    line-height: 38px;
    font-weight: bold;
    border-radius: 6px;
}

#userprofile .leftbox {
    position: relative;
    width: 230px !important;
    display: block;
    float: left;
}

#userprofile .leftbox .userdetails {
    position: relative;
    display: block;
    border-radius: 6px;
}

#userprofile .leftbox .userdetails span {
    float: right;
    margin-right: 13px;
}

#userprofile .leftbox .userdetails ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

#userprofile .leftbox .userdetails li {
    list-style-type: none;
    display: block;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: .2em;
}

#userprofile .contentbox {
    position: relative;
    width: 928px !important; 
    display: inline-block;
    margin-left: 10px;
    border-radius: 6px;
}

#userprofile .contentbox div.tab {
    overflow: hidden;
}

#userprofile .contentbox div.tab button {
    padding: 10px 10px;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid transparent;
    font-weight: bold;
}

#userprofile .contentbox .tabcontent {
    display: none;
    width: 920px;
    padding: 5px 5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 5px;
}

#userprofile .contentbox .tabcontent span {
    float: right;
    margin-left: 23px;
}

#userprofile .contentbox .tabcontent ul {
    position: relative;
    margin-top: 5px;
    overflow: hidden;
}

#userprofile .contentbox .tabcontent li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    padding: 0px 10px;
    margin-left: 20px;
    margin-bottom: .2em;
}

#userprofile .contentbox .tabcontent .message {
    position: static;
    margin-top: 5px;
    padding: 0px 10px;
}

#userprofile .contentbox .tabcontent .message span {
    text-align: left;
    margin-right: 13px;
}

#userprofile .contentbox .tabcontent .message ul {
    margin: 0px auto;
    width: 550px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

#userprofile .contentbox .tabcontent .message li {
    list-style-type: none;
    display: block;
    padding: 5px 0px;
    font-size: 14px;
}
